<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Entry Page</title>
</head>
<body>

  <form action="register" method="post">
    Register
    <label for="name">Username: </label>
    <input type="text" id="username" name="username"><br>

    <!-- <label for="name">Name: </label>
    <input type="text" id="name" name="name"><br>

    <br> -->
    <label for="lat">Password: </label>
    <input type="text" id="password" name="password">

    <br>

    <label for="dietary">dietary: </label>
    <select class='form-select' name="dietary">
        <option selected>Choose 1 below</option>
        <option value='all ok'>all ok</option>
        <option value='halal'>halal</option>
        <option value='vegetarian'>vegetarian</option>
    </select>
    <br>
    <label for="travel_appetite">travel app: </label>
    <select class='form-select' name="travel_appetite">
        <option selected>Choose 1 below</option>
        <option value='1'>near (less than 200m) </option>
        <option value='2'>soso (less than 500m)</option>
        <option value='3'>far (less than 1km)</option>
    </select>

    <label for="lat">Default address: </label>
    <input type="text" name="default_address">

    <br>
    <input type="submit" value="SEND">
  </form>

  
  <script>
    
    </script>

</body>
</html>